<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.jpa" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.INTERNET" />

	<application android:name=".JPAApplication" android:icon="@drawable/icon"
		android:label="@string/app_name">
		<uses-library android:name="com.google.android.maps" />

		<activity android:name=".JPA" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".CreditsActivity" android:label="@string/app_name">
		</activity>
		<activity android:name=".FindActivity" android:label="@string/app_name">
		</activity>
		<activity android:name=".PartnerActivity" android:label="@string/app_name">
		</activity>
		<activity android:name=".SettingsActivity" android:label="@string/app_name">
		</activity>
	</application>
</manifest>